.link-col {
    width: 4%;
}

.rev-col {
    width: 12%;
}

#status-col{
    width: 10%;
}

#delete-col {
    width: 7%;
}

.glyphicon-edit, .glyphicon-share {
    font-size: 20px;
}

.glyphicon-edit:hover, .glyphicon-share:hover {
    color: gray;
}

.glyphicon-pencil {
    margin-right: 5px;
}

.new-article {
    float: right;
}

.submit {
    background-color: #e5e5e5;
    color: #353535;
    padding: 3px 5px;
}

.submit:hover {
    background-color: #ffffff;
    color: #353535;
}

.submit:focus {
    background-color: #ffffff;
    color: #353535;
}

.icon-btn {
    background: transparent;
    border: none !important;
    font-size:0;
}