#content:first-child {
    margin-top: 50px;
}

.navbar-right {
    margin-right: 30px;
}

.navbar-brand {
    font-family: "Impact", Impact, sans-serif;
    letter-spacing: 1px;
}

.navbar-inverse .navbar-brand {
    color: #dbdbdb;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

#content {
    padding-bottom:50px; /* Height of the footer element */
}

#footer {
    color: #ffffff;
    background-color: #212121;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.container > h2, h3 {
    margin-top: 50px;
}

hr {
    margin-top: 0;
}

.btn {
    color: #e0e0e0;
    background-color: #353535;
}

.btn:hover {
    color: #ffffff;
    background-color: #353535;
}

.btn:focus {
    color: #ffffff;
    background-color: #353535;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.dropdown-menu {
    background-color: #212121;
}

.dropdown-menu>li>a {
    color: #9d9d9d;
    padding: 8px 8px 8px 12px;
}

.dropdown-menu>li>a:hover {
    background-color: #313131;
    color: #ffffff;
}
