.mybutton {
    margin-top: 10px;
    width: 100%;
}

.spinner {
    border-radius: 5px;
    border: 1px solid lightgray;
}

.reviews-btn {
    float: right;
    position: relative;
    top: 20px;
}

h3 {
    font-weight: bold;
}