#link-col {
    width: 5%;
}

#status-col {
    width: 14%;
}

#author-col {
    width: 14%;
}

.glyphicon-edit, .glyphicon-pencil, .glyphicon-share {
    font-size: 20px;
    margin-top: 1px;
}

.glyphicon-edit:hover, .glyphicon-pencil:hover, .glyphicon-share:hover {
    color: gray;
}

.submit {
    background-color: #e5e5e5;
    color: #353535;
    padding: 3px 5px;
}

.submit:hover {
    background-color: #ffffff;
    color: #353535;
}

.submit:focus {
    background-color: #ffffff;
    color: #353535;
}

.icon-btn {
    background: transparent;
    border: none !important;
    font-size:0;
}
