.table>colgroup+thead>tr:first-child>th {
     vertical-align: middle;
 }

#review {
    text-align: center;
}

.reviewer-col {
    width: 10%;
}

.action-col {
    width: 7%;
}

.action2-col {
    width: 7%;
}

.num-col {
    width: 5%;
}

.success {
    background-color: #e5ffdc;
}

.success:hover, .success:focus {
    background-color: #f4ffef;
}

.danger {
    background-color: #ffe6ed;
    margin-top: 10px;
}

.danger:hover, .danger:focus {
    background-color: #ffeff4;
}

.my-table-btn {
    width: 70px;
}

.icon-btn {
    background: transparent;
    border: none !important;
    font-size:0;
}

.glyphicon-share {
    font-size: 20px;
}

.glyphicon-share:hover {
    color: gray;
}