#delete-col, #block-col{
    width: 5%;
}

#rights-col{
    width: 25%;
}

.cancel {
    border: none;
    background-color: #e5e5e5;
    color: #353535;
}

.cancel:hover, .cancel:focus {
    border: none;
    background-color: #ffffff;
    color: #353535;
}
