</div><!-- #content -->

<div id="footer">
    <footer>
        &copy; Příliš žluťoučký kůň úpěl ďábelské ódy.
    </footer>
</div><!-- #footer -->

</div>
{% block javascripts %}{% endblock %}

</body>
</html>