{% extends "base.twig" %}
{% block content %}

    <div class="container">
        <div class="row">

            <!-- Prihlaseni -->
            <div class="col-md-5">
                <form class="form-horizontal" action="index.php?page=login" method="post">

                    <!-- Nadpis -->
                    <div class="form-group">
                        <div class="col-sm-9">
                            <h3>Log in</h3>
                        </div>
                    </div>

                    <!-- Prihlasovaci jmeno -->
                    <div class="form-group">
                        <label class="control-label col-sm-2 col-md-3 col-lg-2" for="username">Username:</label>
                        <div class="col-sm-7 col-md-7 col-lg-8">
                            <input type="text" class="form-control" name="username" placeholder="Username" required>
                        </div>
                    </div>

                    <!-- Heslo -->
                    <div class="form-group">
                        <label class="control-label col-sm-2 col-md-3 col-lg-2" for="password">Password:</label>
                        <div class="col-sm-7 col-md-7 col-lg-8">
                            <input type="password" class="form-control" name="password" placeholder="Password" required>
                        </div>
                    </div>

                    <!-- Odeslani -->
                    <div class="form-group">
                        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-7 col-sm-2 col-md-offset-7 col-md-3 ">
                            <input type="submit" name="login" class="btn" value="Log in">
                        </div>
                    </div>

                    {% if wrong_login is defined %}
                        <div class="alert alert-danger alert-dismissible" id="alert1">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong><span class="glyphicon glyphicon-exclamation-sign"></span>
                                Login failed.</strong> Wrong username or password.
                        </div>
                    {% endif %}

                    {% if blocked_user is defined %}
                        <div class="alert alert-danger alert-dismissible" id="alert1">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong><span class="glyphicon glyphicon-exclamation-sign"></span>
                                User blocked.</strong> Please contact us for details and resolution.
                        </div>
                    {% endif %}

                </form>
            </div>

            <!-- Registrace -->
            <div class="col-md-7 vdiv">
                <form class="form-horizontal" action="index.php?page=login" method="post">

                    <!-- Nadpis -->
                    <div class="form-group">
                        <div class="col-sm-10 col-md-offset-1 col-md-9">
                            <h3>Sign up</h3>
                        </div>
                    </div>

                    <!-- Jmeno -->
                    <div class="form-group">
                        <label class="control-label col-sm-2 col-md-3" for="fullname">Full name:</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="fullname" id="fullname" placeholder="Full name" maxlength="60" required>
                        </div>
                    </div>

                    <!-- Prihlasovaci jmeno -->
                    <div class="form-group">
                        <label class="control-label col-sm-2 col-md-3" for="username">Username:</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="username" id="username" placeholder="Username" maxlength="30" required>
                        </div>
                    </div>

                    <!-- Heslo -->
                    <div class="form-group">
                        <label class="control-label col-sm-2 col-md-3" for="password">Password:</label>
                        <div class="col-sm-7">
                            <input type="password" class="form-control" name="password" id="password" placeholder="Password" maxlength="60" required>
                        </div>
                    </div>

                    <!-- Email -->
                    <div class="form-group">
                        <label class="control-label col-sm-2 col-md-3" for="email">E-mail:</label>
                        <div class="col-sm-7">
                            <input type="email" class="form-control" name="email" id="email" placeholder="yourname@example.com" maxlength="60" required>
                        </div>
                    </div>

                    <!-- Odeslani -->
                    <div class="form-group">
                        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-7 col-sm-2 col-md-offset-7 col-md-3 ">
                            <input type="submit" name="signup" class="btn" value="Sign up">
                        </div>
                    </div>

                    <!-- Uzivatel jiz existuje -->
                    {% if usrname_not_unique is defined %}
                    <div class="alert alert-danger alert-dismissible" id="alert1">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong><span class="glyphicon glyphicon-exclamation-sign"></span>
                            This username is taken!</strong> Please choose another.
                    </div>
                    {% endif %}

                </form>
            </div>
        </div>
{% endblock content %}