{% extends "base.twig" %}
{% block content %}

    <div class="container">

        <form class="form-horizontal" action="../index.php" method="post">

            <!-- Nadpis -->
            <div class="form-group">
                <div class="col-sm-9">
                    <h3>New review</h3>
                    <p>For: <b>article name</b></p>
                </div>
            </div>

            <!-- Kriteria -->
            <div class="form-group">
                <label class="control-label col-sm-2" for="title">c1:</label>
                <div class="col-sm-7 col-md-6 col-lg-7">
                    <input class="spinner" type="number" name="quantity" min="1" max="5">
                    <!--<input type="text" class="form-control" name="title" id="title" placeholder="New article">-->
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="title">c2:</label>
                <div class="col-sm-7 col-md-6 col-lg-7">
                    <input class="spinner" type="number" name="quantity" min="1" max="5">
                    <!--<input type="text" class="form-control" name="title" id="title" placeholder="New article">-->
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="title">c3:</label>
                <div class="col-sm-7 col-md-6 col-lg-7">
                    <input class="spinner" type="number" name="quantity" min="1" max="5">
                    <!--<input type="text" class="form-control" name="title" id="title" placeholder="New article">-->
                </div>
            </div>

            <!-- EDITOR -->
            <div class="row">
                <div class="col-sm-offset-2 col-sm-7">
                    <textarea name="content" id="editor"></textarea>
                </div>
            </div>
            <!-- /EDITOR -->

            <input type="hidden" name="action" value="newarticle">


            <div class="form-group">
                <div class="col-xs-6 col-sm-offset-3 col-sm-3 col-md-offset-6 col-md-2 col-lg-offset-5 col-lg-2 ">
                    <input type="submit" name="save-draft" class="btn mybutton" value="Save draft">
                </div>
                <div class="col-xs-6 col col-sm-3 col-md-2 col-lg-2">
                    <input type="submit" name="submit" class="btn mybutton" value="Submit">
                </div>
            </div>

        </form>

    </div>

<script>
    ClassicEditor
        .create( document.querySelector( '#editor' ) )
        .then( editor => {
            console.log( editor );
        } )
        .catch( error => {
            console.error( error );
        } );
</script>

{% endblock content %}