<div class="left-chevron">
    <a href="../index.php?page={{ page }}&i={{ index - per_page }}">
        <span class="glyphicon glyphicon-chevron-left big-chevron"></span>
    </a>
</div>

<div class="right-chevron">
    <a href="../index.php?page={{ page }}&i={{ index - per_page }}">
        <span class="glyphicon glyphicon-chevron-right big-chevron"></span>
    </a>
</div>
