{% extends "base.twig" %}
{% block content %}

    {% macro print(post) %}

        <td>{{ post.title }}</td>
        <td>{{ post.author }}</td>
        <td><span class="glyphicon glyphicon-edit"></span></td>
        <td>{%if post.review is defined %} {{ post.review.lang + post.review.acc + post.review.orig }}{% endif %}</td>
        <td><button class="btn submit">Submit</button></td>

    {% endmacro %}


<div class="container">

        <h2>Articles for review</h2>
        <hr>
        <div class="table-responsive">

            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Article</th>
                    <th>Author</th>
                    <th id="link-col">Review</th>
                    <th id="sum-col">Sum</th>
                    <th id="status-col">Status</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    {% import _self as printer %}
                    {% for a in articles %}
                        {{ printer.print(a) }}
                    {% endfor %}
                </tr>
                </tbody>
            </table>

        </div>
    </div>

{% endblock content %}