{% extends "base.twig" %}
{% block content %}

    <div class="container">
        <h2>Assign reviews</h2>
        <hr>
        <div class="table-responsive">

            <table class="table table-striped table-hover">
                <colgroup span="7"></colgroup>
                <thead>
                <tr>
                    <th rowspan="2">Article</th>
                    <th rowspan="2">Author</th>
                    <th id="review" colspan="7" scope="colgroup">Review</th>
                    <th rowspan="2">Decision</th>
                </tr>
                <tr>
                    <th scope="col">Reviewer</th>
                    <th scope="col">crit</th>
                    <th scope="col">crit</th>
                    <th scope="col">crit</th>
                    <th scope="col">note</th>
                    <th scope="col">sum</th>
                    <th scope="col">del</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>50,000</td>
                    <td>30,000</td>
                    <td>50,000</td>
                    <td>30,000</td>
                    <td>50,000</td>
                    <td>30,000</td>
                    <td>50,000</td>
                    <td>30,000</td>
                    <td>50,000</td>
                    <td>30,000</td>
                </tr>
                <tr>
                    <td>50,000</td>
                    <td>30,000</td>
                    <td>50,000</td>
                    <td>30,000</td>
                    <td>50,000</td>
                    <td>30,000</td>
                    <td>50,000</td>
                    <td>30,000</td>
                    <td>50,000</td>
                    <td>30,000</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

{% endblock content %}